.icon {
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 6rem;
    background-color: rgba(246, 247, 249);
    align-items: center;
}

.navbar_links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-right: 1rem;
}

.navbar_links a {
    text-decoration: none;
    color: rgba(62, 146, 58);
    font: 400 1.2rem 'Playfair Display', serif;
}

.backgroun_images {
    margin: 0;
    padding: 0;
}

.main-images {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
}